.idea/
db.sqlite3
dist/
django-simplelogin/__pycache__/
django-simplelogin/dist/
django-simplelogin/django_simple_login.egg-info/
django_simple_login.egg-info/
sample_app/__pycache__/
sample_app/migrations/
simple_login/__pycache__/
simpleloginutility/__pycache__/
tests/__pycache__/
tests/integration/__pycache__/
tests/unit/__pycache__/
